<nav class="navbar navbar-expand-lg navbar-light bg-light border">
  <a class="navbar-brand" href="">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="menu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="author/">Authores<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="book/">Books<span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
</nav>
<body >
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-12">
          <h1>Lista de autores</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-12 col-sm-12 col-lg-12">
          <div class="table-responsive main-panel"
               infiniteScroll
               [infiniteScrollDistance]="2"
               [infiniteScrollThrottle]="50"
               [infiniteScrollContainer]="selector"
               [fromRoot]="true"
               (scrolled)="onScrollDown()">
            <table class="table table-bordered" >
              <thead class="thead-dark">
                <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th colspan="3">Opções</th>
                </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let details of author ">
                <tr *ngFor="let item of details.results">
                  <td>{{ item["id"] }}</td>
                  <td>{{ item["name"] }}</td>
                  <td><a class="btn btn-primary" href="/author/detail/{{ item['id'] }}"><i class="fas fa-list"></i> Detalhes</a></td>
                  <td><a class="btn btn-primary" href="/author/{{ item['id'] }}"><i class="fas fa-edit"></i> Editar</a></td>
                  <td><a class="btn btn-primary" href="/del/author/{{ item['id'] }}"><i class="fas fa-user-minus"></i> Deletar</a></td>
                </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
