<nav class="navbar navbar-expand-lg navbar-light bg-light border">
  <a class="navbar-brand" href="">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="menu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="author/">Authores<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="book/">Books<span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1>Edit Author</h1>
  <form [formGroup]="formEditAuthor" (ngSubmit)="put()">
    <div class="form-group">
      <label for="name">Name</label>
      <input formControlName="name" type="text" class="form-control" id="name" name='name'>
    </div>
    <button type="submit" [disabled]="!formEditAuthor.valid" class="btn btn-primary">Alterar</button>
  </form>
</div>
