<body class="text-center bg-white">
  <div class="py-5">
    <form [formGroup]="formSearch" (ngSubmit)="filterOptions()">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h1 class="">Buscar</h1>
          </div>
          <div class="col-md-8">
            <div class="input-group w-100 input-group-lg">
              <input formControlName="name"  type="text" class="form-control" id="nameSearch" placeholder="Search">
              <div class="input-group-append"><button class="btn btn-primary" type="submit" [disabled]="!formSearch.valid"><i class="fa fa-search"></i></button></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-right">
            <div class="form-check form-check-inline">
              <input formControlName="inlineRadioOptions" class="form-check-input" type="radio" name="inlineRadioOptions" id="Author" value="author">
              <label class="form-check-label" for="Author">Author</label>
            </div>
            <div class="form-check form-check-inline">
              <input formControlName="inlineRadioOptions" class="form-check-input" type="radio" name="inlineRadioOptions" id="book" value="book">
              <label class="form-check-label" for="book">Book</label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <form >
    <div class="py-5 w-100" >
      <div class="container w-100">
        <div class="row w-100">
          <div class="col-md-6 w-100"><a class="btn btn-primary w-100" href="author/"><i class="fas fa-user"></i> Author</a></div>
          <div class="col-md-6 w-100"><a class="btn btn-secondary w-100" href="book/"><i class="fas fa-book"></i> Book</a></div>
        </div>
      </div>
    </div>
  </form>
  <div class="d-flex flex-column h-50">
    <div class="container mt-auto">
      <div class="row">
        <div class="col-md-12">
          <p class="mt-auto text-secondary">Para&nbsp;<a href="#" class="text-white"></a>Livros e Autores</p>
        </div>
      </div>
    </div>
  </div>
</body>
